/*--
Author: MakeUBig
Author URL: http://MakeUBig.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
html, body{
    font-size: 100%;
	background:	#fff;
	font-family:Lato-Regular;
}
@font-face{
   font-family:Comfortaa-Regular;
	 src: url(../fonts/Comfortaa-Regular.ttf) format('truetype');
}
@font-face{
   font-family:Lato-Regular;
	 src: url(../fonts/Lato-Regular.ttf) format('truetype');
}
p{
	margin:0;
}
ul,label{
	margin:0;
	padding:0;
}
body a:hover{
	text-decoration:none;
}
/*-- header --*/ 
.header{
	padding:2em 0;
	background:#EC3237;
}
.logo{
	float:left;
}
.logo a{
	color: #fff;
	font-size: 2.5em;
	text-decoration: none;
	background: url(../images/logo-icon.png) no-repeat 0px 0px;
	display: block;
	padding: 0.4em 0 0 1.7em;
	font-weight: 600;
	font-family:Comfortaa-Regular;
}
.logo a:hover{
	color:#fff;
	text-decoration:none;
}
.header-icons{
	float:right;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #FD4E4E;
}
.header-icons ul{
	padding:0.5em 0 0;
	margin:0;
}
.header-icons ul li{
	display:inline-block;
	margin: 0 4px;
}
.header-icons ul li a.facebook{
	background: url(../images/img-sp.png) no-repeat -77px -7px;
	display: block;
	height: 55px;
	width: 52px;
}
.header-icons ul li a.facebook:hover{
	background: url(../images/img-sp.png) no-repeat -5px -7px;
	display: block;
}
.header-icons ul li a.twitter{
	background: url(../images/img-sp.png) no-repeat -77px -68px;
	display: block;
	height: 55px;
	width: 52px;
}
.header-icons ul li a.twitter:hover{
	background: url(../images/img-sp.png) no-repeat -5px -68px;
	display: block;
}
.header-icons ul li a.in{
	background: url(../images/img-sp.png) no-repeat -77px -128px;
	display: block;
	height: 55px;
	width: 52px;
}
.header-icons ul li a.in:hover{
	background: url(../images/img-sp.png) no-repeat -6px -128px;
	display: block;
}
.header-bottom{
	background:#006CB5;
}
.header-bottom-right{
	float:right;
}
.header-bottom-right ul{
	padding:0;
	margin:0;
}
.header-bottom-right ul li{
	display:inline-block;
	padding:0;
	float: left;
}
.header-bottom-right ul li{
	font-size:16px;
	color:#fff;
}
.header-bottom-right ul li a{
	color:#fff;
}
.header-bottom-right ul li.num {
  font-size: 30px;
  background-color:#006CB5;
  padding: 12px 29px;
}
li.phone span{
	background: url(../images/1.png) no-repeat 20px 24px #006CB5;
	display: block;
	width: 55px;
	height: 66px;
}
.header-bottom-right ul li.mail{
	padding:22px 60px 22px 0;
}
li.mail a:hover {
  text-decoration: none;
  color: #fff;
}
/*-- //header --*/
/*-- banner --*/
.navbar-default {
  border-color: #F8F8F8;
}
.banner{
	background:url(../images/banner.jpg) no-repeat 0px 0px;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-ms-background-size:cover;
	-o-background-size:cover;
	min-height:800px;
}
.banner1{
	background:url(../images/banner.jpg) no-repeat 0px 0px;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-ms-background-size:cover;
	-o-background-size:cover;
	min-height:150px;
}
.navbar {
  border-radius: 0px;
}
.navbar {
  border: 0px;
}
.banner-nav ul{
	padding:0;
	margin:0;
	font-family:Comfortaa-Regular;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #fff;
  background-color:#F9C000;
}
.navbar-collapse{
	padding:0;
}
.navbar-form {
	margin-left: 270px;
}
.banner-info{
	margin:10em 0 0;
	padding: 2em;
	background:rgba(249, 192, 0,0.5);
	width: 60%;
}
.banner-info h1{
	font-size:33px;
	margin:0 0 1em;
	color:#fff;
	font-family:Comfortaa-Regular;
	text-transform:capitalize;
}
.banner-info p{
	color:#fff;
	font-size:14px;
	margin:0 0 2em;
	line-height: 1.8em;
}
.banner-info a{
	color:#006CB5;
	font-size: 13px;
	text-decoration: none;
	font-family:Comfortaa-Regular;
	padding: 7px 20px;
	background: #fff;
}
.banner-info a:hover{
	color:#fff;
}
.searc span{
	background:url(../images/search.png) no-repeat -7px 2px;
	display:block;
	height:20px;
	width:20px;
}
/*------------------ Slider Part starts Here----------*/
#slider3,
#slider2,#slider4 {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0 auto;
}
.rslides_tabs {
  list-style: none;
  padding: 0;
  background: rgba(0,0,0,.25);
  box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  -moz-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  font-size: 18px;
  list-style: none;
  margin: 0 auto 50px;
  max-width: 540px;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}
.rslides_tabs li {
  display: inline;
  float: none;
  margin-right: 1px;
}
.rslides_tabs a {
  width: auto;
  line-height: 20px;
  padding: 9px 20px;
  height: auto;
  background: transparent;
  display: inline;
}
.rslides_tabs li:first-child {
  margin-left: 0;
}
.rslides_tabs .rslides_here a {
  background: rgba(255,255,255,.1);
  color: #fff;
  font-weight: bold;
}
.events {
  list-style: none;
}
.callbacks_container {
  position: relative;
  float: left;
  width: 100%;
}
.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.callbacks li {
  position: absolute;
  left: 0;
  top: 0;
}
.callbacks img {
  position: relative;
  z-index: 1;
  height: auto;
  border: 0;
}
.callbacks .caption {
	display: block;
	position: absolute;
	z-index: 2;
	font-size: 20px;
	text-shadow: none;
	color: #fff;
	left: 0;
	right: 0;
	padding: 10px 20px;
	margin: 0;
	max-width: none;
	top: 10%;
	text-align: center;
}
.callbacks_nav {
	position: absolute;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	    top: 57%;
		left: 2%;
		opacity: 0.7;
		z-index: 3;
		text-indent: -9999px;
		overflow: hidden;
		text-decoration: none;
		height: 65px;
	    width: 50px;
	    background: transparent url("../images/4.png") no-repeat 0px 0px;
}
.callbacks_nav:active {
	opacity: 1.0;
}
.callbacks_nav.next {
	left: auto;
	background:transparent url("../images/4.png") no-repeat -50px 0px;
	right:2%;
}
#slider3-pager a ,#slider2-pager a,#slider4-pager a{
  display: inline-block;
}
#slider3-pager span,#slider2-pager span,#slider4-pager span{
  float: left;
}
#slider3-pager span,#slider2-pager span,#slider4-pager span{
	width:100px;
	height:15px;
	background:#fff;
	display:inline-block;
	border-radius:30em;
	opacity:0.6;
}
#slider3-pager .rslides_here a ,#slider2-pager .rslides_here a,#slider4-pager .rslides_here a{
  background: #FFF;
  border-radius:30em;
  opacity:1;
}
#slider3-pager a ,#slider2-pager a,#slider4-pager a{
  padding: 0;
}
#slider3-pager li,#slider4-pager li,#slider2-pager li,{
	display:inline-block;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  padding: 0;
  margin: 0;
  width:100%;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  left:0%;
  top: 0;
  width:100%;
}
.rslides li{
  position: relative;
  display: block;
  float: none;
  width:100%;
}
.rslides img {
  display: block;
  height: auto;
  float: left;
  border: 0;
  width: 100%;
}
.callbacks_tabs{
	list-style: none;
	position: absolute;
	top:81.5%;
	z-index: 999;
	left: 43.3%;
	padding:0;
	margin: 0;
	border-radius: 5px;
}
.slider-top{
	text-align: center;
	padding:10em 0;
}
.slider-top h1{
	font-weight:700;
	font-size:48px;
	color:#010101;
}
.slider-top p{
	font-weight:400;
	font-size:20px;
	padding:1em 7em;
	color:#010101;
}
.slider-top ul.social-slide{
	display:inline-flex;
	margin: 0px;
	padding: 0px;
}
ul.social-slide li i{
	width:70px;
	height:74px;
	background:url(../images/backward.png)no-repeat;
	display: inline-block;
	margin:0px 15px;
}
ul.social-slide li i.win{
	background-position:-6px 0px;
}
ul.social-slide li i.android{
	background-position:-110px 0px;
}
ul.social-slide li i.mac{
	background-position:-215px 0px;
}
.callbacks_tabs li{
	display: inline-block;
	margin: 0;
}
@media screen and (max-width: 600px) {
  .callbacks_nav {
    top: 47%;
    }
}
/*----*/
.callbacks_tabs a{
 visibility: hidden;
}
.callbacks_tabs a:after {
  content: "\f111";
  font-size:0;
  font-family: FontAwesome;
  visibility: visible;
  display: block;
  height: 18px;
  width: 18px;
  margin: 0 10px;
  display: inline-block;
  background:#fff;
  border-radius: 25%;
}
.callbacks_here a:after{
	background:#006CB5;
}
/*------------------ Slider Part ends Here----------*/
/* Shutter Out Horizontal */
.hvr-shutter-out-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background: #e1e1e1;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-shutter-out-horizontal:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background:#f9c000;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-shutter-out-horizontal:hover, .hvr-shutter-out-horizontal:focus, .hvr-shutter-out-horizontal:active {
  color: white;
}
.hvr-shutter-out-horizontal:hover:before, .hvr-shutter-out-horizontal:focus:before, .hvr-shutter-out-horizontal:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.banner-bottom{
	position:relative;
}
.banner-bottom-grid-left{
	float:left;
	width:60%;
}
.banner-bottom-grid-right{
	position:absolute;
	top:-69%;
	right: 14%;
	width:28.8%;
}
.banner-bottom-grid-left-grid{
	float:left;
	width:25%;
}
.banner-bottom-grid-right-grid h3{
	font-size:25px;
	margin:0 0 1em;
	color:#fff;
	font-family:Comfortaa-Regular;
	text-transform:capitalize;
}
.banner-bottom-grid-right-grid p{
	color:#fff;
	font-size:14px;
	margin:0 0 2em;
	line-height: 1.8em;
}
.banner-bottom-grid-right-grid{
	background:rgba(249, 192, 0,0.5);
	padding:2em;
}
.banner-bottom-grid-right-grid input[type="text"],.banner-bottom-grid-right-grid input[type="email"]{
	border:1px solid #f4f4f4;
	outline:none;
	padding:14px 10px;
	background:none;
	color:#fff;
	font-size:14px;
	width:100%;
}
.banner-bottom-grid-right-grid input[type="text"]{
	margin-bottom:1.5em;
}
.banner-bottom-grid-right-grid input[type="email"]{
	margin-bottom:2em;
}
.banner-bottom-grid-right-grid input[type="submit"]{
	background:#fff;
	font-size:15px;
	border:none;
	outline:none;
	color:#000;
	padding: 10px 0;
	width: 40%;
	font-family:Comfortaa-Regular;
	display:block;
	transition:.5s all;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
}
.banner-bottom-grid-right-grid input[type="submit"]:hover{
	background-color:#006CB5;
	color:#fff;
}
/*-- //banner --*/
/*-- banner-bottom-video --*/
.banner-bottom-video-grids{
	margin:5em 0;
}
.banner-bottom-video-grid-left{
	float:left;
	width:30%;
}
.banner-bottom-video-grid-right{
	float:right;
	width:65%;
}
.banner-bottom-video-grid-right h4{
	color:#ec4d69;
	font-size: 30px;
	margin: 0 0 1.5em;
	font-family:Comfortaa-Regular;
	text-transform: capitalize;
}
.panel-default > .panel-heading {
  color: #999;
  background-color:#006CB5;
}
.panel-body {
  padding: 14px;
  color: #999;
  line-height: 1.8em;
  font-size: 14px;
}
.panel-title > a, .panel-title > small, .panel-title > .small, .panel-title > small > a, .panel-title > .small > a {
  color: #fff;
  text-transform: capitalize;
  font-size: 17px;
  font-family:Comfortaa-Regular;
}
.panel-title a:hover {
  color: #006CB5;
  text-decoration: none;
}
.banner-bottom-video-grid-rgt{
	float:left;
	width:47%;
}
.banner-bottom-video-grid-rgt:nth-child(3){
	margin-left:2em;
}
.banner-bottom-video-grid-rgt ul{
	padding:0 0 0 3em;
	margin:0;
}
.banner-bottom-video-grid-rgt ul li{
	margin:25px 0;
}
.banner-bottom-video-grid-rgt ul li:nth-child(1) {
  margin-top: 0;
}
.banner-bottom-video-grid-rgt ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color:#000;
	text-decoration:none;
	transition:.5s all;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
}
.banner-bottom-video-grid-rgt ul li a:hover{
	text-decoration:none;
	padding-left:.5em;
	color:#006CB5;
}
.caption h3{
	font-size: 22px;
}
.featured-services{
    background: #ec3237;
}
.caption h3,.featured-services-left h3,.featured-services-right h3 {
  color:#ec4d69;
  margin: 1em 0;
  font-family:Comfortaa-Regular;
  text-transform:capitalize;
}
.featured-services-left h3,.featured-services-right h3 {
	font-size:30px;
}	
.caption p,.featured-services-left p,.featured-services-right p{
	color:#ec4d69;
	font-size:14px;
	line-height:1.8em;
	margin:0 0 2em;
}
.atque {
  padding: 7px 20px;
  font-size: 13px;
  border-radius:0px !important;
  font-family:Comfortaa-Regular;
}
.btn-primary {
  background-color:#F9c000;
  border-color:#FA085E;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  background-color: #B31213;
  border-color:#FD4E4E;
}
.banner-bottom-video {
  background-color: #F7F7F7;
}
/*-- banner-bottom-video --*/
/*-- featured-services --*/
.featured-services{
	padding:5em 0;
}
.featured-services-left{
	float:left;
	width:70%;
}
.mfp-hide iframe{
	width:100%;
	min-height:500px;
}
.featured-services-left p{
	margin:1.5em 0 0;
}
.featured-services-right{
	float:right;
	width:27%;
	position:relative;
}
.featured-services-right h4{
	line-height: 1.5em;
	margin: 1em 0;
	color: #CD3133;
	font-size: 20px;
	text-transform: capitalize;
}
.text-date{
	position:absolute;
	top:13.4%;
	left: 0%;
	background-color:rgba(249,192,0,0.7);
	padding: 1.5em;
}
.text-date p{
	font-size: 24px;
	color:#C00548;
	margin: 0 0 1em;
	text-transform: capitalize;
	line-height: 1.4em;
}
.text-date p span,.text-date h5 span{
	color:#fff;
	display:block;
}
.text-date h5{
	color:#fff;
	font-size:43px;
	margin:0;
}
.text-date h5 span{
	color:#C00548;
}
/*-- //featured-services --*/
/*-- view --*/
.view{
	padding:2em 0;
	background:#006cb5;
}
.view p{
	line-height:1.7em;
	font-size:18px;
	margin:0;
	color:#181717;
}

.view-left{
	float:left;
	width:75%;
}
.view-right{
	float:right;
	width:20%;
	margin-top:1.5em;
}
/*-- //view --*/
/*-- map --*/
.map{
	position:relative;
	margin-bottom: -5px;
}
.map iframe{
	width:100%;
	min-height:500px;
}
/*-- //map --*/
/*-- footer --*/
.footer{
	padding:3em 0;
	background:#006CB5;
}
.footer-grid h3{
	font-size:22px;
	color:#fff;
	text-transform:capitalize;
	font-family:Comfortaa-Regular;
	margin:0 0 1.5em;
}
.footer-grid ul,.footer-grds ul{
	padding:0;
	margin:0;
}
.footer-grid ul li{
	list-style-type:none;
	margin:10px 0px;
}
.footer-grid ul li a,.footer-grds ul li a{
	font-size:14px;
	color:#A6A0A0;
	text-decoration:none;
}
.footer-grid ul li a:hover,.footer-grds ul li a:hover{
	color:#FDFCFC;
	text-decoration:none;
}
.footer-grids {
  padding-bottom: 2em;
  border-bottom: 1px solid #A6A0A0;
}
.footer-grds{
	padding-top:2em;
}
.footer-grds ul li{
	display:inline-block;
	margin-right:10px;
}
.footer-grds p{
	color:#fff;
	font-size:14px;
	margin:.5em 0 0;
}
.footer-grds p a{
	color:#fff;
	text-decoration:underline;
}
.footer-grds p a:hover{
	color:#B0ACAC;
}
/*-- //footer --*/
/*-- to-top --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom:3%;
	right: 2%;
	overflow: hidden;
	z-index: 999; 
	width: 32px;
	height: 32px;
	border: none;
	text-indent: 100%;
	background: url("../images/arrow.png") no-repeat 0px 0px;
}
#toTopHover {
	width: 32px;
	height: 32px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*-- //to-top --*/
/*-- contact --*/
.contact{
	padding:5em 0;
}
.contact-form-left p {
	color: #999;
	font-size: 14px;
	margin: 0 auto 1em;
	line-height: 1.7em;
}
.contact-form-left h5 {
	font-size: 18px;
	margin: 1.5em 0;
	color: #006CB5;
	font-family:Comfortaa-Regular;
	text-transform: capitalize;
}
.contact-form-left a{
	color: #999;
	font-weight: 400;
	font-size: 15px;
	margin:0;
	text-decoration:none;
}
.contact-form-left a:hover{
	color:#006CB5;
	text-decoration:none;
	transition:.5s all;
}
.contact input[type="text"] {
	display: inline-block;
	background: none;
	border:1px solid #9B9898;
	width: 31%;
	outline: none;
	font-size: 18px;
	color: #5b5b5b;
	font-weight: 500;
	padding: 10px 15px;
}
.contact input[type="email"] {
	display: inline-block;
	background: none;
	border:1px solid #9B9898;
	width: 32%;
	margin:0 .9em;
	outline: none;
	font-size: 18px;
	color: #5b5b5b;
	font-weight: 500;
	padding: 10px 15px;
}
.contact textarea {
	background: none;
	border:1px solid #9B9898;
	width: 100%;
	display: block;
	height: 150px;
	outline: none;
	font-size: 18px;
	color: #5b5b5b;
	font-weight: 500;
	resize: none;
	padding: 10px 15px;
	margin:1.5em 0 2.5em;
}
.contact input[type="submit"]{
	background: none;
	border:1px solid #9B9898;
	padding: .5em 0;
	width: 21%;
	font-size: 16px;
	color: black;
	font-weight: 500;
	letter-spacing: 1px;
	outline: none;
	transition: .5s all;
}
.contact input[type="submit"]:hover{
	color: #fff;
	background:#006CB5;
	outline: none;
	border:1px solid #006CB5;
}
.contact-form h3,.gallery h3,h3.ghj,.about h3,.services-grid h3,.services-overview h3,.blog h3{
	color: #006CB5;
	font-size: 30px;
	margin: 0 0 2em;
	font-family:Comfortaa-Regular;
	text-transform: capitalize;
	text-align: center;
}
.contact-form-left h4,.contact-form-right h4{
	color: #006CB5;
	margin: 0 0 1em;
	font-family:Comfortaa-Regular;
	text-transform: capitalize;
	font-size: 22px;
}	
/*-- contact --*/
/*-- gallery --*/
.gallery{
	padding:5em 0;
	background:#fff;
}
.gallery-grid{
	float:left;
	width:25%;
}
.gallery-grid1{
	float:left;
	width:12.5% !important;
}
.gal {
  min-height: 645px;
}
/*-- //gallery --*/
/*-- cases --*/
.cases{
	padding:5em 0 4em;
}
.headdings,.Buttons,.progress-bars,.alerts,.bread-crumbs,.pagenatin,.appearance,.distracted{
	padding:2em 0;
}
.bs-example h1,.bs-example hh2,.bs-example h3,.bs-example h4,.bs-example h5,.bs-example h6 {
  margin: 0 0 10px;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  border-top: none !important;
}
/*-- //cases --*/
/*-- about --*/
.about {
	padding:5em 0;
	}
.about-grids-bottom{
	margin-top:2em;
	}
.about-us p{
	font-size: 14px;
	margin: 0;
	color: #777;
	line-height: 1.8em;
}
.about-us h4,.sub-new h4{
	color: #006CB5;
	margin:0 0 1em;
	font-family:Comfortaa-Regular;
	text-transform: capitalize;
	font-size: 22px;
}
.subscribe{
	background: #006CB5;
	padding: 5em 0;
	}
.sub-new {
	width: 75%;
	margin: 0 auto;
	}
.sub-new h4{
	color:#fff;
	margin:0 0 1.5em;
}
.sub-new input[type="text"]{
	border:1px solid #fff;
	outline:none;
	padding: 25px 10px 25px 55px;
	width:70%;
	font-size: 17px;
	background: url(../images/1.png) no-repeat 15px 15px;
	height: 20px;
	display: block;
	float: left;
	color: #fff;
	}
.sub-new input[type="submit"]{
	outline:none;
	background:#fff;
	border:none;
	color:#006CB5;
	font-size:15px;
	float:left;
	margin-left:2em;
	padding: 15px 55px;
	transition:.5s all;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-ms-transition:.5s all;
	-o-transition:.5s all;
	}
.sub-new input[type="submit"]:hover{
	text-decoration:none;
	color:#fff;
	background:#BE0A4A;
	}
.img-bottom{
	position:absolute;
	top:82%;
	}
.img-bottom p{
	color:#fff;
	background:rgba(76, 194, 196, 0.82);
	font-size:14px;
	margin:0;
	padding: 1em 4em;
	}
/*-- //about --*/
/*-- services --*/
.services{
	padding:5em 0;
}
.services-grid h3{
	text-align:left;
}
.services-grd1-left span{
	background: url(../images/img-sp.png) no-repeat -178px -90px;
	display: block;
	height: 45px;
}
.services-grd1 h4{
	font-size: 18px;
	color: #006CB5;
	margin: 0 0 0.8em;
	line-height: 1.5em;
}
.services-grd1 p{
	color:#999;
	line-height:1.8em;
	margin:0;
	font-size:14px;
}
.services-grd1-left1 span{
	background:url(../images/img-sp.png) no-repeat -178px -141px;
	display: block;
	height: 45px;
}
.services-grd1-left2 span{
	background:url(../images/img-sp.png) no-repeat -178px -189px;
	display: block;
	height: 45px;
}
.services-grd:nth-child(3),.services-overview-grids:nth-child(3){
	margin-top:2em;
}
.services-grd1-left3 span{
	background:url(../images/img-sp.png) no-repeat -178px -232px;
	display: block;
	height: 45px;
}
.services-grd1-left4 span{
	background:url(../images/img-sp.png) no-repeat -178px -280px;
	display: block;
	height: 45px;
}
.services-grd1-left5 span{
	background:url(../images/img-sp.png) no-repeat -272px -86px;
	display: block;
	height: 45px;
}
.services-overview{
	margin:2em 0 0;
}
.services-overview h3{
	text-align:left;
}
.services-overview-gd{
	padding:1.2em;
	background:#f6f6f6;
}
.services-overview-gd h4{
	font-size: 20px;
	color: #006CB5;
	margin: 0 0 0.8em;
	line-height: 1.5em;
	text-transform:capitalize;
}
.services-overview-gd p{
	color:#999;
	font-size:14px;
	margin:0;
	line-height: 1.8em;
}
/*-- //services --*/
/*-- blog --*/
.blog{
	padding:5em 0;
}
.blog-grid1{
	background:#f0f0f0;
}
.blog-grid1-info{
	padding:1em;
}
.blog-grid1:nth-child(1){
	margin-bottom:2em;
}
.soluta a{
	line-height: 1.2em;
	color:#006CB5;
	font-size:17px;
	text-decoration:none;
}
.soluta a:hover{
	text-decoration:none;
	color: #000;
}
.soluta span{
	display:block;
	margin:1em 0;
	color:#EC3237;
	font-size:12px;
}
.blog-grid1 p{
	color:#999;
	font-size: 14px;
	margin: 1em 0;
	font-style: normal;
	line-height: 1.7em;
}
.red-mre{
	text-align: center;
}
.red-mre a{
	border: none;
	color:#EC3237;
	font-size: 15px;
	text-decoration: none;
}
.red-mre a:hover {
  text-decoration: none;
  color:#006CB5;
}
ul.sint {
  margin: 3em 0 0;
}
/*-- //blog --*/
/*-- single --*/
.single{
	padding:5em 0;
	}
.single-left h3{
	color:#006CB5;
	font-size: 20px;
	margin:0 0 1em;
	font-family:Comfortaa-Regular;
	}
.single-right {
  margin-top: 5em;
}
.single-left p{
	color: #565656;
	font-size: 15px;
	margin: 0 0 1em;
	font-style: italic;
	}
.single-left p span{
	font-size:18px;
	}
.single-right h3{
	color:#EC3237;
	margin:0 0 1em;
	font-size:20px;
	}
.single-right p{	
	color:#999;
	font-size:14px;
	line-height:1.8em;
	margin:0;
	}
.single-right p span{
	margin:1em 0 0;
	display:block;
	}
.single p.tortor{
	color:#999;
	font-size:14px;
	line-height:1.8em;
	margin: 1em 0 0;
	}
.single-right p label{
	color:#adadad;
	margin:0;
	}
.face-twi{
	margin:3em 0;
	}
.face-twi ul{
	padding:0;
	margin:0;
	}
.face-twi ul li{
	display:inline-block;
	}
.face-twi ul li a.face{
	background:url(../images/sp.png) no-repeat 0px 0px;
	display:block;
	height: 47px;
	width: 47px;
	}
.face-twi ul li a.twi{
	background:url(../images/sp.png) no-repeat -57px 0px;
	display:block;
	height: 47px;
	width: 47px;
	}
.face-twi ul li a.rs{
	background:url(../images/sp.png) no-repeat -115px 0px;
	display:block;
	height: 47px;
	width: 47px;
	}
.face-twi ul li a.in{
	background:url(../images/sp.png) no-repeat -183px 0px;
	display:block;
	height: 47px;
	width: 47px;
	}
.face-twi ul li a.dri{
	background:url(../images/sp.png) no-repeat -244px 0px;
	display:block;
	height: 47px;
	width: 47px;
	}
.tags-cate{
	padding:3em 0;
	border-top:1px dotted #adadad;
	border-bottom:1px dotted #adadad;
	margin:3em 0;
	}
.cat-grid{
	float:left;
	width:30%;
	text-align: center;
	}
.cat-grid:nth-child(2){
	margin:0 3em;
	}
.cat-grid h3{
	color: #006CB5;
	font-size: 25px;
	margin:0;
	}
.cat-grid h3 span{
	font-size:25px;
	}
.cat-grid ul{
	padding:2em 0 0;
	margin:0;
	}
.cat-grid ul li{
	list-style-type:none;
	margin-top:1em;
	border:1px dotted #adadad;
	padding: .3em 0;
	  background-color: #EFEDEE;
	}
.cat-grid ul li a{
	color:rgba(122, 122, 118, 0.7);
	font-size:14px;
	}
.cat-grid ul li a:hover{
	text-decoration:none;
	color:rgba(245, 71, 133, 1);
	}
.top-social-icons {
	margin-top: 3em;
	}
.three-com h3{
	color:#343838;
	font-size:16px;
	margin:0;
	font-family:Comfortaa-Regular;
	font-style: normal;
	padding:2em 0;
	}
.three-com h3 span{
	color:#AFAFAF;
	font-size:15px;
	}
.three-com h3 label{
	color:#006CB5;
	}
.tom-grid{
	padding:2em 0;
	border-bottom:1px solid #dddddd;
	width: 100%;
	}
.tom{
	float:left;
	border: 1px dotted;
	padding: .5em;
	}
.humour {
	padding-left: 8em;
	width: 100%;
	}
.tom-right{
	float:left;
	margin-left:2em;
	width:80%;
	}
.tom-right h4{
	color:#EC3237;
	font-size:18px;
	font-weight:600;
	font-style: normal;
	margin:0;
	}
.tom-right p label{
	color: #006CB5;
	font-size: 15px;
	margin: 0;
	font-style: normal;
	}
.tom-right p.lorem{
	color:#999;
	font-size:14px;
	margin:0;
	line-height:1.8em;
	font-style: normal;
	}
.Hardy{
	float:left;
	}
.reply{
	float:left;
	margin-left:20em;
	margin-top: .5em;
	}
.reply a{
	padding: 10px 22px;
	color: #fff;
	font-size: 13px;
	font-weight: 600;
	background-color: #006CB5;
	font-style: normal;
	transition:.5s all;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
	}
.reply a:hover{
	color:#fff;
	text-decoration:none;
	background-color:#EC3237;
	}
.tom-grid:nth-child(4){
	border-bottom:none;
	}
.three-com{
	margin:3em 0;
	}
.leave-comment {
	  margin: 3em 0 0;
	}
.leave-comment h3{
	color:#006CB5;
	margin:0;
	font-size:25px;
	font-style:normal;
	}
.leave-comment p{
	color:#999;
	font-size: 14px;
	margin: .5em 0 2em;
	font-style:normal;
	}
.leave-comment input[type="text"]{
	outline:none;
	font-size:15px;
	font-style:normal;
	background:none;
	padding: 15px 10px;
	}
.leave-comment input[type="text"]:nth-child(2){
	margin:1em 0;
	}
.leave-comment textarea,.leave-comment input[type="text"],.leave-comment input[type="submit"]{
	width:60%;
	border:1px solid #C8C7C7;
}
.leave-comment textarea{
	outline:none;
	font-size:15px;
	font-style:normal;
	background:none;
	padding:10px;
	resize:none;
	height:200px;
	margin:1em 0;
	}
.leave-comment input[type="submit"]{
	outline:none;
	font-size:18px;
	font-style:normal;
	background:none;
	padding:15px 0;
	font-weight: 600;
	color:#006CB5;
	display:block;
	transition:.5s all;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
	}
.leave-comment input[type="submit"]:hover{
	background:#006CB5;
	color: #fff;
	border:1px solid #006CB5;
	}
/*--------social simptip--------*/
.top-social-icons a:hover{
	background:#EC3237;
	color:#fff;
	text-decoration:none;
	}
.top-social-icons a{
  position: relative;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  background: #EFEDEE;
  border: none;
  padding: 5px 11px;
  color: #999;
  font-size: 14px;
}
/*-- single --*/
/*-----start-responsive-design------*/
@media (max-width:1440px){
	.banner-bottom-grid-right {
	  right: 9.5%;
	  width: 32.4%;
	}
}
@media (max-width: 1366px){
	.banner-bottom-grid-right {
	  right: 7.2%;
	  width: 34.2%;
	}
}
@media (max-width: 1280px){
	.banner-info h1 {
		font-size: 30px;
	}
	.callbacks_tabs {
		top: 80.5%;
	}
	.banner-bottom-grid-right {
	  right: 4.3%;
	  width: 36.5%;
	}
	.featured-services-left h3, .featured-services-right h3,.banner-bottom-video-grid-right h4 {
	  font-size: 27px;
	}
	.text-date {
	  top: 12.4%;
	  padding: 1.43em;
	}
}
@media (max-width: 1024px){
	.navbar-form {
	  margin-left: 85px;
	}
	.header-bottom-right ul li.num {
	  font-size: 25px;
	  padding: 15px 29px;
	}
	li.phone span {
	  height: 65px;
	}
	.header-bottom-right ul li.mail {
	  padding: 22px 60px 0 0;
	}
	.banner-info {
	  margin: 6em 0 0;
	  width: 65%;
	}
	.banner-info h1 {
	  font-size: 28px;
	  margin: 0 0 .5em;
	}
	.callbacks_tabs {
	  top: 73.5%;
	.banner {
	  min-height: 640px;
	}
	.banner-bottom-grid-right-grid {
	  padding: 1em;
	}
	.banner-bottom-grid-right {
	  right: 3.4%;
	  width: 37.2%;
	  top: -80.6%;
	}
	.banner-bottom-grid-right-grid input[type="submit"] {
		padding: 8px 0;
	}
	.banner-bottom-grid-right-grid h3,.featured-services-left h3, .featured-services-right h3, .banner-bottom-video-grid-right h4 {
		font-size: 23px;
	}
	.banner-bottom-grid-right-grid input[type="text"], .banner-bottom-grid-right-grid input[type="email"] {
		padding: 11px 10px;
	}
	.banner-bottom-video-grid-rgt ul {
		padding: 0 0 0 1em;
	}
	.banner-bottom-video-grid-rgt ul li a {
		font-size: 15px;
	}
	.banner-bottom-video-grid-rgt ul li {
	  margin: 20px 0;
	}
	.caption h3 {
	  font-size: 19px;
	}
	.banner-bottom-video-grid-left ul li {
		padding: 10px 30px;
	}
	.banner-bottom-video-grids {
	  margin: 4em 0;
	}
	.featured-services {
	  padding: 3em 0 4em;
	}
	.text-date p {
		font-size: 20px;
	}
	.text-date h5 {
		font-size: 35px;
	}
	.text-date {
	  top: 10.3%;
	  padding:1.3em;
	}
	.featured-services-right h4 {
	  margin: 1em 0 .5em;
	  font-size: 19px;
	}
	.mfp-hide iframe {
	  min-height: 450px;
	}
	.view p {
		font-size: 16px;
	}
	.footer-grid h3 {
		font-size: 20px;
	}
	.about,.services,.blog,.contact,.single,.gallery{
	  padding: 4em 0;
	}
	.contact-form h3, .gallery h3, h3.ghj, .about h3, .services-grid h3, .services-overview h3, .blog h3 {
	  font-size: 28px;
	  margin: 0 0 1.5em;
	}
	.img-bottom {
	  top: 77%;
	}
	.img-bottom p {
	  padding: 1em 3em;
	}
	.subscribe {
	  padding: 4em 0;
	}
	.sub-new input[type="text"] {
		width: 67%;
	}
	.services-grd1 h4 {
	  font-size: 16px;
	  margin: 0 0 0.5em;
	}
	.services-overview-gd h4 {
		font-size: 16px;
	}
	.cases {
	  padding: 3em 0;
	}
	.soluta a {
		font-size: 15px;
	}
	.contact-form-left h4, .contact-form-right h4 {
	  font-size: 20px;
	}
	.contact input[type="text"],.contact input[type="email"],.contact textarea {
		font-size: 15px;
	}
	.map iframe {
	  min-height: 390px;
	}
	.single-left h3 {
		font-size: 17px;
	}
	.single-left p span {
	  font-size: 14px;
	}
	.single-right h3 {
	  margin: 0;
	  font-size: 18px;
	}
	.single-right {
	  margin-top: 4em;
	}
	.cat-grid:nth-child(2) {
	  margin: 0 2em;
	}
	.cat-grid h3 {
		font-size: 21px;
	}
	.cat-grid ul {
		padding: 1em 0 0;
	}
	.top-social-icons {
	  margin-top: 2em;
	}
	.tags-cate {
	  padding: 2em 0;
	  margin: 2em 0 0;
	}
	.three-com {
	  margin: 0;
	}
	.tom-grid {
		padding: 1.5em 0;
	}
	.reply a {
	  padding: 7px 18px;
	  font-size: 12px;
	}
	.tom-right p label {
		font-size: 12px;
	}
	.tom-right h4 {
		font-size: 16px;
	}
	.leave-comment h3 {
		font-size: 23px;
	}
	.humour {
		padding-left: 6em !important;
	}
	.leave-comment textarea, .leave-comment input[type="text"], .leave-comment input[type="submit"] {
		width: 70%;
	}
	.panel-title > a, .panel-title > small, .panel-title > .small, .panel-title > small > a, .panel-title > .small > a {
		font-size: 15px;
	}
}
@media (max-width:768px){
	.navbar-form {
	  margin-left: 0;
	}
	.logo a {
	  font-size: 2em;
	  padding: 0.6em 0 0 2.2em;
	}
	.navbar-default .navbar-nav > li > a {
	  font-size: 13px;
	}
	.navbar-form {
		padding: 0;
	}
	.form-control,.btn {
	  padding: 6px;
	  font-size: 13px;
	}
	li.phone span {
	  height: 55px;
	  background: url(../images/1.png) no-repeat 20px 16px #000;
	}
	.header-bottom-right ul li.num {
	  font-size: 22px;
	  padding: 12px 29px;
	}
	.banner-info h1 {
		font-size: 23px;
	}
	.callbacks_tabs {
		left: 45.3%;
		top: 73.5%;
	}
	.banner-info {
	  margin: 13em 0 0;
	  width: 74%;
	}
	.banner {
	  min-height: 510px;
	}
	.banner-bottom-grid-left {
	  float: none;
	  width: 100%;
	}
	.banner-bottom-grid-right {
		right: 2%;
		width: 96%;
		top: 44.5%;
	}
	.banner-bottom {
	  padding-bottom: 21em;
	}
	.header-bottom-right ul li {
		font-size: 15px;
	}
	.banner-bottom-video-grid-left ul li {
	  padding: 6px 20px;
	}
	.banner-bottom-video-grid-left ul li a {
		font-size: 14px;
	}
	.banner-bottom-grid-right-grid h3, .featured-services-left h3, .featured-services-right h3, .banner-bottom-video-grid-right h4 {
	  font-size: 21px;
	}
	.caption h3 {
	  font-size: 14px;
	  margin: 1em 0 .5em;
	}
	.banner-bottom-video-grid-rgt:nth-child(3) {
	  margin-left: 1em;
	}
	.banner-bottom-video-grid-rgt ul li a {
	  font-size: 13px;
	}
	.banner-bottom-video-grids {
	  margin: 4em 0 3em;
	}
	.featured-services-left {
	  float: none;
	  width: 100%;
	}
	.featured-services-right {
	  float: none;
	  width: 100%;
	}
	.featured-services {
	  padding: 3em 0 1em;
	}
	.text-date {
	  top:8.3%;
	  padding: 3.3em;
	}
	.text-date p {
	  font-size: 26px;
	}
	.text-date h5 {
	  font-size: 44px;
	}
	.view p {
	  font-size: 14px;
	}
	.footer-grid {
	  float: left;
	  width: 50%;
	}
	.footer-grid:nth-child(2) {
		margin-bottom:12em;
	}
	.contact-form h3, .gallery h3, h3.ghj, .about h3, .services-grid h3, .services-overview h3, .blog h3 {
		font-size: 25px;
	}
	.about, .services, .blog, .contact, .single,.gallery {
	  padding: 3em 0;
	}
	.about-grid {
	  float: left;
	  width: 33.33%;
	}
	.img-bottom p {
	  padding: .59em 2em;
	}
	.about-us h4, .sub-new h4 {
	  margin: 0 0 .5em;
	  font-size: 18px;
	}
	.about-us:nth-child(2) {
	  margin: 2em 0;
	}
	.subscribe {
	  padding: 3em 0;
	}
	.sub-new {
		width: 90%;
	}
	.sub-new input[type="submit"] {
		padding: 15px 40px;
	}
	.services-grd1 {
	  float: left;
	  width: 33.33%;
	}
	.services-grd1-left,.services-grd1-left1,.services-grd1-left2,.services-grd1-left3,.services-grd1-left4,.services-grd1-left5 {
	  padding: 0 !important;
	}
	.services-grd1-left span {
		background: url(../images/img-sp.png) no-repeat -166px -90px;
	}
	.services-overview-grid {
	  float: left;
	  width: 33.33%;
	}
	.services-overview-gd h4 {
		margin: 0 0 0.3em;
	}
	.headdings {
	  padding: 0;
	}
	.label {
		font-size: 70%;
	}
	.pagenatin .col-md-6 {
	  float: left;
	  width: 50%;
	}
	.distracted {
	  padding: 0;
	}
	.blog-grid {
	  float: left;
	  width: 50%;
	}
	.soluta a {
	  font-size: 17px;
	}
	.single-right {
	  margin-top: 2em;
	}
	.contact-form-left {
	  margin-bottom: 2em;
	}
	.panel-title > a, .panel-title > small, .panel-title > .small, .panel-title > small > a, .panel-title > .small > a {
	  font-size: 14px;
	}
	.panel-body {
		padding: 9px;
	}
}
@media (max-width: 736px){
	.navbar-default .navbar-nav > li > a {
	  font-size: 13px;
	  text-align: center;
	}
	.navbar-form {
	  padding: 10px 40px 70px;
	}
	.form-control {
		width: 60%;
		float: left;
		margin: 0 2em 0 6em;
	}
	button.searc {
	  float: left;
	  width: 10%;
	}
	.navbar-form .form-group {
	  margin-bottom: 0;
	}
	.navbar-form {
	  margin:0 !important;
	  border-top:none;
		border-bottom:none;
	}
	.searc span {
	  background:url(../images/search.png) no-repeat 3px 0px;
	  width: 100%;
	}
}
@media (max-width:640px){
	.banner-info {
	  width: 95%;
	}
	.header {
		padding: 1.5em 0;
	}
	.header-icons ul {
		padding: 0.8em 0 0;
	}
	.callbacks_tabs {
	  left: 57.3%;
	  top: 82.5%;
	}
	.banner-bottom-grid-right {
	  right: 2.5%;
	  width: 95%;
	  top: 38.7%;
	}
	.banner-bottom {
	  padding-bottom: 23em;
	}
	.banner-bottom-video-grids {
	  margin: 3em 0 2em;
	}
	.banner-bottom-video-grid-left {
	  float: none;
	  width: 100%;
	  margin-bottom: 1em;
	}
	.banner-bottom-video-grid-right {
	  float: none;
	  width: 100%;
	}
	.banner1 {
	  min-height: 90px;
	}
	.about-grid {
	  float: none;
	  width: 100%;
	}
	.about-grid:nth-child(2) {
	  margin: 2em 0;
	}
	.img-bottom {
	  top: 87.6%;
	}
	.sub-new input[type="text"] {
	  padding: 22px 10px 22px 55px;
	  font-size: 15px;
	  background: url(../images/1.png) no-repeat 13px 11px;
	}
	.sub-new h4 {
	  margin: 0 0 1.5em;
	}
	.sub-new input[type="submit"] {
	  padding: 13px 28px;
	  font-size:14px;
	}
	.services-grd1 {
	  float: none;
	  width: 100%;
	}
	.services-grd1-left,.services-grd1-left1,.services-grd1-left2,.services-grd1-left3,.services-grd1-left4,
	.services-grd1-left5{
		width: 10%;
	}
	.services-grd1 p {
		margin: 0 0 2em;
	}
	.services-grd:nth-child(3){
	  margin-top: 0;
	}
	.services-overview-gd h4 {
	  font-size: 15px;
	}
	.services-overview-gd {
		padding: 0.8em;
	}
	.label {
	  font-size: 58%;
	}
	.pagenatin .col-md-6 {
	  float: none;
	  width: 100%;
	}
	.well {
		font-size: 14px;
	}
	.cat-grid {
	  float: none;
	  width: 100%;
	}
	.cat-grid:nth-child(2) {
	  margin: 2em 0;
	}
	.tom {
		width: 15%;
	}
	.tom-right {
	  margin-left: 1.5em;
	  width: 75%;
	}
	.reply {
		margin-left: 11em;
	}
	.humour {
	  padding-left: 3em !important;
	}
	.tom img {
	  width: 100%;
	}
	.leave-comment input[type="text"] {
	  font-size: 14px;
	  padding: 12px 10px;
	}
	.leave-comment textarea, .leave-comment input[type="text"], .leave-comment input[type="submit"] {
	  width: 90%;
	}
	.leave-comment input[type="submit"] {
	  font-size: 16px;
	  padding: 11px 0;
	}
}
@media (max-width:480px){
	.logo a {
		font-size: 1.8em;
		padding: 0.3em 0 0 1.7em;
		background-size: 20%;
	}
	.header-icons ul {
	  padding: 0;
	}
	.header-bottom-right {
	  float: none;
	  width: 100%;
	}
	.header-bottom-right ul li.num {
	  padding: 12px 36px;
	}
	.header-bottom-right ul li.mail {
	  padding: 17px 20px 0 0;
	}
	.form-control {
	  margin: 0 1em 0 3em;
	}
	.searc span {
		background: url(../images/search.png) no-repeat -6px 0px;
	}
	.banner {
	  min-height: 364px;
	}
	.banner-info h1 {
	  font-size: 20px;
	}
	.banner-info p {
		font-size: 13px;
	}
	.callbacks_tabs a:after {
	  height: 13px;
	  width: 13px;
	  margin: 0 5px;
	}
	.banner-info {
	  width: 100%;
	  margin: 6.5em 0 0;
	  padding: 1em;
	}
	.banner-bottom-grid-right-grid input[type="text"], .banner-bottom-grid-right-grid input[type="email"] {
	  padding: 8px 10px;
	  font-size:13px;
	}
	.callbacks_tabs {
	  left: 68.3%;
	  top: 77.5%;
	}
	.banner-bottom-grid-right {
	  right: 3%;
	  width: 94%;
	  top: 31.7%;
	}
	.banner-bottom-video-grid-left {
	  margin-bottom: 2em;
	}
	.banner-bottom-video-grids {
	  margin: 2em 0 1em;
	}
	.banner-bottom-grid-right-grid h3, .featured-services-left h3, .featured-services-right h3, .banner-bottom-video-grid-right h4 {
	  font-size: 19px;
	}
	.banner-bottom-video-grid-rgt {
	  float: none;
	  width: 100%;
	}
	.banner-bottom-video-grid-rgt:nth-child(3) {
	  margin-left: 0;
	}
	.banner-bottom-video-grid-rgt ul li {
	  margin: 20px 0 10px;
	}
	.mfp-hide iframe {
	  min-height: 270px;
	}
	.featured-services {
	  padding: 2em 0 1em;
	}
	.text-date {
	  top: 6.4%;
	  padding: 3.33em;
	}
	.view-left {
	  float: none;
	  width: 100%;
	  text-align: center;
	}
	.view-right {
	  float: none;
	  width: 100%;
	  margin: 1.5em 0 0 0em;
	  text-align: center;
	}
	.footer-grid h3 {
	  font-size: 18px;
	}
	.footer-grid:nth-child(2) {
	  margin-bottom: 11em;
	}
	.footer {
		padding: 2em 0;
	}
	.sub-new {
	  width: 100%;
	}
	.sub-new input[type="text"] {
	  width: 100%;
	}
	.sub-new input[type="submit"] {
	  float: none;
	  margin: 1em 0 0;
	}
	.sub-new input[type="submit"] {
	  padding: 10px 22px;
	  font-size: 13px;
	}
	.subscribe {
	  padding: 2em 0;
	}
	.services-grd1-right {
	  width: 89%;
	}
	.services-overview-grid {
	  float: none;
	  width: 100%;
	  margin-bottom: 1em;
	}
	.services-grd:nth-child(3), .services-overview-grids:nth-child(3) {
	  margin-top: 0;
	}
	.gallery-grid,.gallery-grid1 {
	  width:80% !important;
	  float:none;
	  margin:0 auto;
	}
	.headdings h1 {
	  font-size: 29px;
	}
	.headdings h2 {
	  margin-top: 0;
	  font-size: 27px;
	}
	.label {
	  font-size: 42%;
	}
	.Buttons h1, h2, h3 {
	  margin: 0;
	}
	.headdings, .Buttons, .progress-bars, .alerts, .bread-crumbs, .pagenatin, .appearance, .distracted {
	  padding: 1em 0;
	}
	.soluta a {
	  font-size: 14px;
	}
	.red-mre a {
		font-size: 14px;
	}
	.single-left h3 {
	  font-size: 16px;
	  margin: 0 0 .5em;
	}
	.cat-grid h3 {
	  font-size: 20px;
	}
	.three-com h3 {
		font-size: 15px;
	}
	.reply {
	  margin-left: 6em;
	}
	.leave-comment {
	  margin: 1em 0 0;
	}
	.contact input[type="text"] {
		width: 100%;
	}
	.contact input[type="email"] {
	  width: 100%;
	  margin: 1em 0;
	}
	.contact input[type="submit"] {
		width: 45%;
	}
	.map iframe {
	  min-height: 320px;
	}
}
@media (max-width: 414px){
	.header-bottom-right ul li.num {
	  padding: 12px 6px;
	  font-size: 21px;
	}
	li.phone span {
		height: 54px;
	}
	button.searc {
	  width: 13%;
	}
	.header-icons ul li {
	  margin: 0;
	}
	.logo a {
	  font-size: 1.5em;
	  padding: 0.3em 0 0 1.7em;
	  background-size: 21%;
	}
	.logo {
	  margin-top: .4em;
	}
}
@media (max-width:384px){
	.logo {
	  float: none;
	  width: 56%;
	  margin: 0 auto .5em;
	}
	.header-icons {
	  float: none;
	  text-align: center;
	}
	.header-bottom-right ul li {
	  font-size: 14px;
	}
	.header-bottom-right ul li.num {
	  padding: 12px 11px;
	  font-size: 16px;
	}
	li.phone span {
	  height: 46px;
	  background: url(../images/1.png) no-repeat 18px 13px #000;
	}
	.banner-info h1 {
	  font-size: 17px;
	}
	.banner {
	  min-height: 318px;
	}
	.banner-info {
		margin: 2.5em 0 0;
	}
	.banner-bottom-grid-right {
	  top: 25.7%;
	}
}
@media (max-width: 375px){
	.header-bottom-right ul li.num {
	  font-size: 14px;
	}
	li.phone span {
		height: 44px;
	}
	.header-bottom-right ul li.mail {
	  padding: 13px 20px 0 0;
	}
	.logo {
		width: 57%;
	}
}
@media (max-width: 320px){
	.logo {
	  width: 70%;
	}
	.header {
	  padding: 1em 0;
	}
	li.phone span {
	  background: url(../images/1.png) no-repeat 8px 8px #000;
	  width: 37px;
	  height: 41px;
	}
	.header-bottom-right ul li {
	  font-size: 13px;
	}
	.header-bottom-right ul li.mail {
	  padding: 13px 5px 0 0;
	}
	.header-bottom-right ul li.num {
	  font-size: 12px;
	  padding: 12px 13px;
	}
	.banner-info h1 {
	  font-size: 14px;
	}
	.banner-info p {
	  font-size: 11px;
	}
	.callbacks_tabs {
		left: 56.3%;
		  top: 70.5%;
	}
	.banner-info {
	  margin: 0.5em 0 0;
	}
	.banner {
	  min-height: 260px;
	}
	.form-control {
		margin: 0 .5em 0 0em;
		width: 75%;
	}
	button.searc {
	  width: 19%;
	}
	.navbar-form {
	  padding: 10px 40px 50px;
	}
	.banner-bottom-grid-left-grid {
	  width: 50%;
	}
	.banner-bottom-grid-right {
	  right: 5%;
	  width: 90%;
	  top: 52.7%;
	}
	.banner-bottom-grid-right-grid h3 {
		margin: 0 0 .5em;
	}
	.banner-bottom-grid-right-grid p,.panel-body,.caption p, .featured-services-left p, .featured-services-right p {
		font-size: 13px;
	}
	.banner-bottom-grid-right-grid input[type="submit"] {
	  font-size: 13px;
	  width: 55%;
	}
	.panel-title > a, .panel-title > small, .panel-title > .small, .panel-title > small > a, .panel-title > .small > a {
	  font-size: 13px;
	}
	a.atque {
	  padding: 6px 10px;
	  font-size: 12px;
	}
	.caption p, .featured-services-left p, .featured-services-right p {
	  margin: 0 0 1em;
	}
	.banner-bottom-video-grid-rgt ul li {
	  margin: 12px 0 10px;
	}
	.text-date p {
	  font-size: 21px;
	}
	.text-date {
	  top: 7.4%;
	  padding: 1.33em;
	}
	.text-date h5 {
	  font-size: 39px;
	}
	.featured-services-right h4 {
	  font-size: 16px;
	}
	.view p,.footer-grid ul li a, .footer-grds ul li a,.footer-grds p,.about-us p,.services-grd1 p,.services-overview-gd p {
	  font-size: 13px;
	}
	.view {
		padding: 1em 0;
	}
	.map iframe {
	  min-height: 230px;
	}
	.footer-grid {
	  float: none;
	  width: 100%;
	}
	.footer-grid h3 {
	  margin: 0 0 1em;
	}
	.footer-grid ul li {
	  margin: 5px 0px;
	}
	.footer-grid,.about-grid,.about-us,.services-grd1,.pagenatin .col-md-6,.appearance .col-md-6,
	.blog-grid,.single-left,.single-right,.contact-form-left,.contact-form-right,.services-overview-grid{
	  padding: 0 !important;
	}
	.footer-grid:nth-child(2) {
	  margin: 1em 0;
	}
	.about, .services, .blog, .contact, .single, .gallery {
	  padding: 2em 0;
	}
	.contact-form h3, .gallery h3, h3.ghj, .about h3, .services-grid h3, .services-overview h3, .blog h3 {
	  font-size: 20px;
	}
	.contact-form h3, .gallery h3, h3.ghj, .about h3, .services-grid h3, .services-overview h3, .blog h3 {
	  margin: 0 0 1em;
	}
	.img-bottom {
	  top: 81.6%;
	}
	.about-grid:nth-child(2) {
	  margin: 1em 0;
	}
	.about-us h4, .sub-new h4 {
	  font-size: 16px;
	}
	.about-us:nth-child(2) {
	  margin: 1em 0;
	}
	.sub-new input[type="text"] {
	  padding:18px 10px 18px 47px;
	  font-size: 14px;
	}
	.sub-new input[type="submit"] {
	  padding: 8px 18px;
	  font-size: 12px;
	}
	.services-grd1-left, .services-grd1-left1, .services-grd1-left2, .services-grd1-left3, .services-grd1-left4, .services-grd1-left5 {
	  width: 15%;
	}
	.services-grd1-right {
	  width: 83%;
	}
	.services-grd1 p {
	  margin: 0 0 1em;
	}
	.headdings h1 {
	  font-size: 25px;
	}
	.headdings h2 {
	  margin-top: 0;
	  font-size: 22px;
	}
	.headdings h3 {
	  font-size: 21px;
	}
	.progress {
	  height: 10px;
	  margin-bottom: 10px;
	}
	.progress-bars p {
	  font-size: 13px;
	}
	.alert{
	  font-size: 13px;
	}
	.pagination-lg > li > a, .pagination-lg > li > span {
	  padding: 11px 12px;
	  font-size: 15px;
	}
	.pagination {
		margin: 13px 0;
	}
	.breadcrumb {
	  padding: 4px 15px;
	  margin-bottom: 12px;
	}
	.breadcrumb > li {
	  font-size: 13px;
	}
	.appearance p,.blog-grid1 p,.single-right p {
	  font-size: 13px;
	}
	.single-right h3 {
	  font-size: 16px;
	}
	.single-left h3 {
		font-size: 15px;
	}
	.single-left p,.cat-grid ul li a,.top-social-icons a,.tom-right p.lorem {
		font-size: 13px;
	}
	.cat-grid ul {
	  padding: 0;
	}
	.single p.tortor {
	  font-size: 13px;
	  margin: 0;
	}
	.cases {
	  padding: 1em 0;
	}
	.blog-grid {
	  float: none;
	  width: 100%;
	}
	.blog-grid1:nth-child(1) {
	  margin-bottom: 1em;
	}
	.blog-grid1 {
	  margin-bottom:1em;
	}
	ul.sint {
	  margin: 1em 0 0;
	}
	.single-right {
	  margin-top: 1em;
	}
	.three-com h3 {
	  padding: 1.5em 0;
	  font-size: 13px;
	}
	.tom {
	  width: 22%;
	  padding: .3em;
	}
	.tom-right h4 {
	  font-size: 14px;
	}
	.tom-right p label {
	  font-size: 10px;
	}
	.tom-right {
	  margin-left: 1em;
	  width: 66%;
	}
	.reply a {
	  padding: 5px 12px;
	  font-size: 11px;
	}
	.reply {
	  margin-left: 3em;
	}
	.humour {
	  padding-left: 1em !important;
	}
	.leave-comment {
	  margin: 0;
	}
	.leave-comment h3 {
	  font-size: 16px;
	}
	.leave-comment p {
	  font-size: 13px;
	  margin: .5em 0 1.5em;
	}
	.leave-comment input[type="text"] {
	  font-size: 13px;
	  padding: 6px 10px;
	}
	.leave-comment textarea, .leave-comment input[type="text"], .leave-comment input[type="submit"] {
	  width: 100%;
	}
	.leave-comment textarea {
	  font-size: 13px;
	  height: 100px;
	  padding: 6px 10px;
	}
	.leave-comment input[type="submit"] {
	  font-size: 13px;
	  padding: 7px 0;
	}
	.contact-form-left h4, .contact-form-right h4 {
	  font-size: 16px;
	  margin: 0 0 .5em;
	}
	.contact-form-left p{
		font-size:13px;
	}
	.contact-form-left h5 {
	  font-size: 15px;
	  margin: 1em 0;
	}
	.contact input[type="text"], .contact input[type="email"], .contact textarea {
	  font-size: 13px;
	}
	.contact input[type="submit"] {
	  width: 60%;
	}
	.well {
	  font-size: 13px;
	}
	.contact textarea {
	  margin: 1.5em 0 1.5em;
	}
}